{
    "singleQuote": false,
    "semi": true,
    "trailingComma": "none",
    "overrides": [
        {
            "files": "*.html",
            "opitions": {
                "parser": "html"
            }
        }
    ]
}